body {
    max-width: 1000px;
    width: 100vw;
    height: 100vh;
	margin: 0 auto;
	background-color: #1d1d1d;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

	color: #EEE;
}

html {
	background-color: #080808;
}

.headerbar {
	background: linear-gradient(to right, #064034, #237a57);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	height: 3em;
}
